:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(from 180deg at 50% 50%, #16abff33 0deg, #0885ff33 55deg, #54d6ff33 120deg, #0071ff33 160deg, transparent 360deg);
  --secondary-glow: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(#00000080, #00000040, #00000030, #00000020, #00000010, #00000010, #00000080);

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@font-face {
  font-family: "NotosanRegular";
  src: url("../public/fonts/NotoSans-Black.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaRegular";
  src: url("../public/fonts/Proxima-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaBold";
  src: url("../public/fonts/Proxima-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
.ProximaBold {
  font-family: "ProximaBold", sans-serif;
}
@font-face {
  font-family: "NotosanMedium";
  src: url("../public/fonts/NotoSans-Medium.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotosanMedium";
  src: url("../public/fonts/NotoSans-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Neon80";
  src: url("../public/fonts/Neon.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f7f8fa;
}
.neon-font {
  font-family: "Neon80";
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.list-item {
  margin-bottom: 8px;
}
.arrow {
  width: 20px;
  /* height: 50px; */
  fill: #fff;
}

.bar {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  margin: 10px 0px;
  width: calc(100% + 32px);
  margin-left: -16px;
  --light-gray: rgb(224, 224, 224);
}
.arrow--right {
  left: auto;
  right: 0px;
}
.gradual-fade {
  background-image: linear-gradient(0deg, #fff, #fff0);
  bottom: 48px;
  height: 6.25rem;
  left: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
  z-index: 1;
}
