.title {
  // flex-grow: 1;
  text-decoration: none;
}

.menu_item {
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  //   height: 100px;
}

.nav_bar {
  background-color: white !important;
}
